In [1]:
import numpy as np
import pandas as pd
import requests
!pip install xlsxwriter
import xlsxwriter
import math

Requirement already satisfied: xlsxwriter in c:\users\woodpecker\anaconda3\lib\site-packages (3.2.3)

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')

In [3]:
from secretsSS import FINNHUB_API_TOKEN

In [4]:
import requests
import json
symbol = "AAPL"

# API URL'si
url = f"https://finnhub.io/api/v1/quote?symbol={symbol}&token={FINNHUB_API_TOKEN}"

# GET isteği gönder
data= requests.get(url).json()
data

{'c': 205.08,
 'd': 5.34,
 'dp': 2.6735,
 'h': 208,
 'l': 202.799,
 'o': 206,
 'pc': 199.74,
 't': 1745431949}

In [5]:
data["c"]

205.08

In [6]:
url2=f"https://finnhub.io/api/v1/stock/profile2?symbol={symbol}&token={FINNHUB_API_TOKEN}"
response2=requests.get(url2)
data2=response2.json()
data2

{'country': 'US',
 'currency': 'USD',
 'estimateCurrency': 'USD',
 'exchange': 'NASDAQ NMS - GLOBAL MARKET',
 'finnhubIndustry': 'Technology',
 'ipo': '1980-12-12',
 'logo': 'https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/AAPL.png',
 'marketCapitalization': 3110019.90886026,
 'name': 'Apple Inc',
 'phone': '14089961010',
 'shareOutstanding': 15037.87,
 'ticker': 'AAPL',
 'weburl': 'https://www.apple.com/'}

In [7]:
my_columns=["Ticker","Price", "Market Capitalization","Number Of The Shares to Buy"]
final_dataframe=pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of The Shares to Buy]
Index: []

In [8]:
new_row = pd.Series(["AAPL",
    data["c"],
    data2["marketCapitalization"],
    "N/A"], 
    index=my_columns)

final_dataframe = pd.concat([final_dataframe, new_row.to_frame().T], ignore_index=True)

In [9]:
final_dataframe

  Ticker   Price Market Capitalization Number Of The Shares to Buy
0   AAPL  205.08         3110019.90886                         N/A

In [86]:
final_dataframe=final_dataframe.drop(index=0)

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of The Shares to Buy]
Index: []

In [10]:

final_dataframe=pd.DataFrame(columns=my_columns)
for symbol in stocks["Ticker"]:
    url = f"https://finnhub.io/api/v1/quote?symbol={symbol}&token={FINNHUB_API_TOKEN}"
    data = requests.get(url).json()
    url2=f"https://finnhub.io/api/v1/stock/profile2?symbol={symbol}&token={FINNHUB_API_TOKEN}"
    data2=requests.get(url2).json()
    new_row1 = pd.Series([
        symbol,  # Burası artık sabit "AAPL" değil
        data["c"],
        data2.get("marketCapitalization", "N/A"),  # varsa al, yoksa "N/A" yaz
        "N/A"
    ], index=my_columns)

    final_dataframe = pd.concat([final_dataframe, new_row1.to_frame().T], ignore_index=True)

KeyboardInterrupt

In [57]:
final_dataframe

,Ticker,Price,Market Capitalization,Number Of The Shares to Buy,Number Of Shares to Buy,Number of Shares to Buy
0,A,105.885,30996.367218,N/A,187.0,187.0
1,AAL,9.465,6539.065038,N/A,2092.0,2092.0
2,AAP,32.920,2061.251501,N/A,601.0,601.0
3,AAPL,205.208,3110019.90886,N/A,96.0,96.0
4,ABBV,176.250,311817.797724,N/A,112.0,112.0
...,...,...,...,...,...,...
500,YUM,145.690,40398.92,N/A,135.0,135.0
501,ZBH,99.300,19277.66,N/A,199.0,199.0
502,ZBRA,236.850,11619.76,N/A,83.0,83.0
503,ZION,44.510,6364.56,N/A,444.0,444.0
504,ZTS,151.520,66904.68,N/A,130.0,130.0

In [11]:
import pandas as pd
import requests
import time

final_dataframe = pd.DataFrame(columns=my_columns)

for i, symbol in enumerate(stocks["Ticker"]):
    try:
        # 1. API isteği (fiyat verisi)
        url = f"https://finnhub.io/api/v1/quote?symbol={symbol}&token={FINNHUB_API_TOKEN}"
        data = requests.get(url).json()
        time.sleep(0.5)  # hafif bekleme

        # 2. API isteği (market cap verisi)
        url2 = f"https://finnhub.io/api/v1/stock/profile2?symbol={symbol}&token={FINNHUB_API_TOKEN}"
        data2 = requests.get(url2).json()
        time.sleep(0.5)  # yine hafif bekleme

        # Yeni satır oluştur
        new_row = pd.Series([
            symbol,
            data.get("c", "N/A"),
            data2.get("marketCapitalization", "N/A"),
            "N/A"
        ], index=my_columns)

        # DataFrame'e ekle
        final_dataframe = pd.concat([final_dataframe, new_row.to_frame().T], ignore_index=True)
        print(f"{symbol} ✓")

        # Her 5 sembolde bir mola verelim
        if (i + 1) % 5 == 0:
            time.sleep(2)

    except Exception as e:
        print(f"{symbol} × HATA: {e}")
        time.sleep(1)  # hata sonrası da dinlensin
        continue

A ✓
AAL ✓
AAP ✓
AAPL ✓
ABBV ✓
ABC ✓
ABMD ✓
ABT ✓
ACN ✓
ADBE ✓
ADI ✓
ADM ✓
ADP ✓
ADSK ✓
AEE ✓
AEP ✓
AES ✓
AFL ✓
AIG ✓
AIV ✓
AIZ ✓
AJG ✓
AKAM ✓
ALB ✓
ALGN ✓
ALK ✓
ALL ✓
ALLE ✓
ALXN ✓
AMAT ✓
AMCR ✓
AMD ✓
AME ✓
AMGN ✓
AMP ✓
AMT ✓
AMZN ✓
ANET ✓
ANSS ✓
ANTM ✓
AON ✓
AOS ✓
APA ✓
APD ✓
APH ✓
APTV ✓
ARE ✓
ATO ✓
ATVI ✓
AVB ✓
AVGO ✓
AVY ✓
AWK ✓
AXP ✓
AZO ✓
BA ✓
BAC ✓
BAX ✓
BBY ✓
BDX ✓
BEN ✓
BF.B ✓
BIIB ✓
BIO ✓
BK ✓
BKNG ✓
BKR ✓
BLK ✓
BLL ✓
BMY ✓
BR ✓
BRK.B ✓
BSX ✓
BWA ✓
BXP ✓
C ✓
CAG ✓
CAH ✓
CARR ✓
CAT ✓
CB ✓
CBOE ✓
CBRE ✓
CCI ✓
CCL ✓
CDNS ✓
CDW ✓
CE ✓
CERN ✓
CF ✓
CFG ✓
CHD ✓
CHRW ✓
CHTR ✓
CI ✓
CINF ✓
CL ✓
CLX ✓
CMA ✓
CMCSA ✓
CME ✓
CMG ✓
CMI ✓
CMS ✓
CNC ✓
CNP ✓
COF ✓
COG ✓
COO ✓
COP ✓
COST ✓
COTY ✓
CPB ✓
CPRT ✓
CRM ✓
CSCO ✓
CSX ✓
CTAS ✓
CTL ✓
CTSH ✓
CTVA ✓
CTXS ✓
CVS ✓
CVX ✓
CXO ✓
D ✓
DAL ✓
DD ✓
DE ✓
DFS ✓
DG ✓
DGX ✓
DHI ✓
DHR ✓
DIS ✓
DISCA ✓
DISCK ✓
DISH ✓
DLR ✓
DLTR ✓
DOV ✓
DOW ✓
DPZ ✓
DRE ✓
DRI ✓
DTE ✓
DUK ✓
DVA ✓
DVN ✓
DXC ✓
DXCM ✓
EA ✓
EBAY ✓
ECL ✓
ED ✓
EFX ✓
EIX ✓
EL ✓
EMN ✓
EMR ✓
EOG ✓
EQIX ✓
EQR ✓
ES ✓
ESS ✓
ETFC ✓
ETN ✓
ETR ✓
EVRG ✓
EW ✓
EXC ✓
EXPD ✓
EXPE ✓
EXR ✓
F ✓
FANG ✓
FAST ✓
FB ✓
FBHS ✓
FCX ✓
FDX ✓
FE ✓
FFIV ✓
FIS ✓
FISV ✓
FITB ✓
FLIR ✓
FLS ✓
FLT ✓
FMC ✓
FOX ✓
FOXA ✓
FRC ✓
FRT ✓
FTI ✓
FTNT ✓
FTV ✓
GD ✓
GE ✓
GILD ✓
GIS ✓
GL ✓
GLW ✓
GM ✓
GOOG ✓
GOOGL ✓
GPC ✓
GPN ✓
GPS ✓
GRMN ✓
GS ✓
GWW ✓
HAL ✓
HAS ✓
HBAN ✓
HBI ✓
HCA ✓
HD ✓
HES ✓
HFC ✓
HIG ✓
HII ✓
HLT ✓
HOLX ✓
HON ✓
HPE ✓
HPQ ✓
HRB ✓
HRL ✓
HSIC ✓
HST ✓
HSY ✓
HUM ✓
HWM ✓
IBM ✓
ICE ✓
IDXX ✓
IEX ✓
IFF ✓
ILMN ✓
INCY ✓
INFO ✓
INTC ✓
INTU ✓
IP ✓
IPG ✓
IPGP ✓
IQV ✓
IR ✓
IRM ✓
ISRG ✓
IT ✓
ITW ✓
IVZ ✓
J ✓
JBHT ✓
JCI ✓
JKHY ✓
JNJ ✓
JNPR ✓
JPM ✓
K ✓
KEY ✓
KEYS ✓
KHC ✓
KIM ✓
KLAC ✓
KMB ✓
KMI ✓
KMX ✓
KO ✓
KR ✓
KSS ✓
KSU ✓
L ✓
LB ✓
LDOS ✓
LEG ✓
LEN ✓
LH ✓
LHX ✓
LIN ✓
LKQ ✓
LLY ✓
LMT ✓
LNC ✓
LNT ✓
LOW ✓
LRCX ✓
LUV ✓
LVS ✓
LW ✓
LYB ✓
LYV ✓
MA ✓
MAA ✓
MAR ✓
MAS ✓
MCD ✓
MCHP ✓
MCK ✓
MCO ✓
MDLZ ✓
MDT ✓
MET ✓
MGM ✓
MHK ✓
MKC ✓
MKTX ✓
MLM ✓
MMC ✓
MMM ✓
MNST ✓
MO ✓
MOS ✓
MPC ✓
MRK ✓
MRO ✓
MS ✓
MSCI ✓
MSFT ✓
MSI ✓
MTB ✓
MTD ✓
MU ✓
MXIM ✓
MYL ✓
NBL ✓
NCLH ✓
NDAQ ✓
NEE ✓
NEM ✓
NFLX ✓
NI ✓
NKE ✓
NLOK ✓
NLSN ✓
NOC ✓
NOV ✓
NOW ✓
NRG ✓
NSC ✓
NTAP ✓
NTRS ✓
NUE ✓
NVDA ✓
NVR ✓
NWL ✓
NWS ✓
NWSA ✓
O ✓
ODFL ✓
OKE ✓
OMC ✓
ORCL ✓
ORLY ✓
OTIS ✓
OXY ✓
PAYC ✓
PAYX ✓
PBCT ✓
PCAR ✓
PEAK ✓
PEG ✓
PEP ✓
PFE ✓
PFG ✓
PG ✓
PGR ✓
PH ✓
PHM ✓
PKG ✓
PKI ✓
PLD ✓
PM ✓
PNC ✓
PNR ✓
PNW ✓
PPG ✓
PPL ✓
PRGO ✓
PRU ✓
PSA ✓
PSX ✓
PVH ✓
PWR ✓
PXD ✓
PYPL ✓
QCOM ✓
QRVO ✓
RCL ✓
RE ✓
REG ✓
REGN ✓
RF ✓
RHI ✓
RJF ✓
RL ✓
RMD ✓
ROK ✓
ROL ✓
ROP ✓
ROST ✓
RSG ✓
RTX ✓
SBAC ✓
SBUX ✓
SCHW ✓
SEE ✓
SHW ✓
SIVB ✓
SJM ✓
SLB ✓
SLG ✓
SNA ✓
SNPS ✓
SO ✓
SPG ✓
SPGI ✓
SRE ✓
STE ✓
STT ✓
STX ✓
STZ ✓
SWK ✓
SWKS ✓
SYF ✓
SYK ✓
SYY ✓
T ✓
TAP ✓
TDG ✓
TDY ✓
TEL ✓
TFC ✓
TFX ✓
TGT ✓
TIF ✓
TJX ✓
TMO ✓
TMUS ✓
TPR ✓
TROW ✓
TRV ✓
TSCO ✓
TSN ✓
TT ✓
TTWO ✓
TWTR ✓
TXN ✓
TXT ✓
TYL ✓
UA ✓
UAA ✓
UAL ✓
UDR ✓
UHS ✓
ULTA ✓
UNH ✓
UNM ✓
UNP ✓
UPS ✓
URI ✓
USB ✓
V ✓
VAR ✓
VFC ✓
VIAC ✓
VLO ✓
VMC ✓
VNO ✓
VRSK ✓
VRSN ✓
VRTX ✓
VTR ✓
VZ ✓
WAB ✓
WAT ✓
WBA ✓
WDC ✓
WEC ✓
WELL ✓
WFC ✓
WHR ✓
WLTW ✓
WM ✓
WMB ✓
WMT ✓
WRB ✓
WRK ✓
WST ✓
WU ✓
WY ✓
WYNN ✓
XEL ✓
XLNX ✓
XOM ✓
XRAY ✓
XRX ✓
XYL ✓
YUM ✓
ZBH ✓
ZBRA ✓
ZION ✓
ZTS ✓

In [12]:
final_dataframe

    Ticker    Price Market Capitalization Number Of The Shares to Buy
0        A  105.885          30996.367218                         N/A
1      AAL    9.465           6539.065038                         N/A
2      AAP    32.92           2061.251501                         N/A
3     AAPL  205.208         3110019.90886                         N/A
4     ABBV   176.25         311817.797724                         N/A
..     ...      ...                   ...                         ...
500    YUM   145.69              40398.92                         N/A
501    ZBH     99.3              19277.66                         N/A
502   ZBRA   236.85              11619.76                         N/A
503   ZION    44.51               6364.56                         N/A
504    ZTS   151.52              66904.68                         N/A

[505 rows x 4 columns]

In [13]:
# we dont have batching feature in this api everthing have a price :( ----^^

In [42]:
while True:
    portfolio_size = input("Enter the value of your portfolio: ")

    try:
        val = float(portfolio_size)
        if val <= 0:
            print("Value must be greater than 0.\n")
            continue
        break
    except ValueError:
        print("That's not a number! Try again.\n")

Enter the value of your portfolio:  10000000

In [43]:
portfolio_size
len(final_dataframe)

505

In [45]:
zero_prices = final_dataframe[final_dataframe["Price"] == 0]
print("0 olan hisseler:")
print(zero_prices[["Ticker", "Price"]])

0 olan hisseler:
Empty DataFrame
Columns: [Ticker, Price]
Index: []

In [38]:
# VEYA 0'ları ortalama ile doldur:
mean_price = final_dataframe[final_dataframe["Price"] != 0]["Price"].mean()
final_dataframe["Price"] = final_dataframe["Price"].replace(0, mean_price)

C:\Users\Woodpecker\AppData\Local\Temp\ipykernel_18312\2260435847.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  final_dataframe["Price"] = final_dataframe["Price"].replace(0, mean_price)

In [58]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number Of The Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

,Ticker,Price,Market Capitalization,Number Of The Shares to Buy,Number Of Shares to Buy,Number of Shares to Buy
0,A,105.885,30996.367218,187,187.0,187.0
1,AAL,9.465,6539.065038,2092,2092.0,2092.0
2,AAP,32.920,2061.251501,601,601.0,601.0
3,AAPL,205.208,3110019.90886,96,96.0,96.0
4,ABBV,176.250,311817.797724,112,112.0,112.0
...,...,...,...,...,...,...
500,YUM,145.690,40398.92,135,135.0,135.0
501,ZBH,99.300,19277.66,199,199.0,199.0
502,ZBRA,236.850,11619.76,83,83.0,83.0
503,ZION,44.510,6364.56,444,444.0,444.0
504,ZTS,151.520,66904.68,130,130.0,130.0

In [63]:
with pd.ExcelWriter("recommended_trades.xlsx", engine="xlsxwriter") as writer:
    final_dataframe.to_excel(writer, sheet_name='Recommended Trades', index = False)
    background_color = '#0a0a23'
    font_color = '#ffffff'
    
    string_format = writer.book.add_format(
            {
                'font_color': font_color,
                'bg_color': background_color,
                'border': 1
            }
        )
    
    dollar_format = writer.book.add_format(
            {
                'num_format':'$0.00',
                'font_color': font_color,
                'bg_color': background_color,
                'border': 1
            }
        )
    
    integer_format = writer.book.add_format(
            {
                'num_format':'0',
                'font_color': font_color,
                'bg_color': background_color,
                'border': 1
            }
        )
    column_formats = { 
                        'A': ['Ticker', string_format],
                        'B': ['Price', dollar_format],
                        'C': ['Market Capitalization', dollar_format],
                        'D': ['Number of Shares to Buy', integer_format]
                        }
    
    for column in column_formats.keys():
        writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 20, column_formats[column][1])
        writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], string_format)